body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font: normal normal 70px/1 "Apercu", sans-serif;
    text-transform: uppercase;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently */
}

.timer {
    height: 3vh;
    background-color: black;
}

.timer-inner {
    height: 3vh;
    background-color: #EFEA81;
}

.stage {
    background-color: #222;
    height: 77vh;
    color: #EFEA81;
    position: relative;
    padding: 1em 3em 1em 0.3em;
    box-sizing: border-box;
}
    .word-list {
        -webkit-columns: 100px 3;
           -moz-columns: 100px 3;
                columns: 100px 3;
        -webkit-column-gap: 60px;
           -moz-column-gap: 60px;
                column-gap: 60px;

        font-size: 0;
        overflow: visible;
        height: 380px;
        white-space: nowrap;
    }
        .word {
            -webkit-column-break-inside: avoid;
                      page-break-inside: avoid;
                           break-inside: avoid;
            border-bottom: 1px solid #333;
            height: 1em;
            position: relative;
            cursor: pointer;
            box-sizing: border-box;
            white-space: nowrap;
            font-size: 70px;
        }
            .word span {
                line-height: 1;
                display: inline-block;
            }
            .word span.highlighted {
                border-bottom: 3px solid #EFEA81;
            }
            .word span.played {
                color: #555;
            }
        .word.loading:after {
            content: "...";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 40px;
            height: 40px;
            font-size: 30px;
            color: #555;
        }
    .score {
        color: #EFEA81;
        position: absolute;
        width: 210px;
        top: 0;
        right: 0;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #555;
    }
    .add-word {
        position: absolute;
        bottom: 50px;
        right: 50px;
        outline: 0;
        background-color: #EFEA81;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        line-height: 0;
        cursor: pointer;
    }
    .add-word .plus-icon {
        font-size: 100px;
        display: block;
        font-weight: bold;
        color: #222;
        line-height: 0;
        margin-top: -7px;
    }
    .add-word .check-icon {
        display: none;
        width: 60px;
        position: relative;
        top: 3px;
    }
    .take-word {
        display: none;
        position: absolute;
        right: -30px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: #555;
    }
    .take-word svg path {
        fill: #555;
    }
    .word-input {
        /* will be turned on and off via js*/
        display: none;
        position: relative;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }
    .word-input-form {
        background: transparent;
        line-height: 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #333;
        font: normal normal 70px/1 "Apercu", sans-serif;
        color: #DBD676;
        text-transform: uppercase;
        overflow: visible;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #343434;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }
    .word-input-form.invalid {
        color: #F33E58;
    }
    .word-input-form::first-line {
        vertical-align: middle;
    }
    .word-input-error {
        display: none;
        font-size: 15px;
        color: #F33E58;
        font-style: italic;
        display: block;
        position: absolute;
        bottom: -30px;
        right: 0;
        text-transform: capitalize;
    }

.hand {
    background-color: #EFEA81;
    height: 20vh;
    colro: #222;
    display: flex;
    justify-content: center;
}

    .letter-list {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
    }
        .letter {
            background-color: #DBD676;
            padding: 15px 30px;
            border-radius: 10px;
            margin: 10px;
            cursor: pointer;
            position: relative;
            bottom: 0;
            transition: bottom .2s;
            font-size: 50px;
            min-height: 1em;
            min-width: 20px;
        }
        .letter.empty {
            background-color: transparent;
            border: 1px solid #DBD676;
            cursor: default;
        }
        .letter.empty:hover {
            bottom: 0;
        }
        .letter:hover {
            bottom: 15px;
        }

    .add-letter {
        background: none;
        font-size: 50px;
        border: none;
        margin-left: 20px;
        flex: 0;
        cursor: pointer;
        outline: none;
    }

ul {
    margin: 0;
    list-style-type: none;
}
