@keyframes strikethrough {
        from {
                transform: scaleX(0);
        }
        to {
                transform: scaleX(1);
        }
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font: normal normal 70px/1 "Apercu", "Poppins", sans-serif;
    text-transform: uppercase;
    position: relative;
    background-color: #222;
    color: #EFEA81;
    width: 100vw;
    overflow: hidden;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently */
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left .5s;
}

body.main-menu #main-menu { left: 0; }
body.main-menu #gameplay { left: 100vw; }
body.main-menu #game-over { left: 200vw; }

body.gameplay #main-menu { left: -100vw; }
body.gameplay #gameplay { left: 0; }
body.gameplay #game-over { left: 100vw; }

body.game-over #main-menu { left: -200vw; }
body.game-over #gameplay { left: -100vw; }
body.game-over #game-over { left: 0; }


/*
main menu
*/

#main-menu .content,
#game-over .content {
    text-align: center;
    height: 50vh;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

#main-menu h1,
#game-over h2 {
    font-size: 150px;
    letter-spacing: 7px;
    margin: .4em 0;
    position: relative;
}

#main-menu p,
#game-over p {
    font-size: 20px;
    max-width: 15em;
    margin: 0 auto;
    margin-bottom: 2em;
    font-family: Input;
    text-transform: none;
    line-height: 1.2;
}

#main-menu button,
#game-over button {
    background: transparent;
    outline: none;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #EFEA81;
    border: 1px solid #EFEA81;
}

#main-menu button:hover,
#game-over button:hover {
    background: #EFEA81;
    color: #222;
}

/*
gameplay
*/

.timer {
    height: 3vh;
    background-color: black;
}

.timer-inner {
    height: 3vh;
    background-color: #EFEA81;
}

.stage {
    background-color: #222;
    height: 77vh;
    color: #EFEA81;
    position: relative;
    padding: 1em 3em 1em 0.3em;
    box-sizing: border-box;
}
    .word-list {
        -webkit-columns: 100px 3;
           -moz-columns: 100px 3;
                columns: 100px 3;
        -webkit-column-gap: 60px;
           -moz-column-gap: 60px;
                column-gap: 60px;

        font-size: 0;
        overflow: visible;
        height: 380px;
        white-space: nowrap;
    }
        .word {
            -webkit-column-break-inside: avoid;
                      page-break-inside: avoid;
                           break-inside: avoid;
            border-bottom: 1px solid #333;
            height: 1em;
            position: relative;
            cursor: pointer;
            box-sizing: border-box;
            white-space: nowrap;
            font-size: 70px;
        }
            .word span {
                line-height: 1;
                display: inline-block;
            }
            .word span.highlighted {
                border-bottom: 3px solid #EFEA81;
            }
            .word span.played {
                color: #555;
            }
        .word.loading:after {
            content: "...";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 40px;
            height: 40px;
            font-size: 30px;
            color: #555;
        }
        .word.strikethrough {
            position: relative;
        }
        .word.strikethrough:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 8px;
            margin-top: -0.55em;
            background: #555;
            transform-origin: center left;
            animation: strikethrough .5s;
        }
    .score-area {
        color: #EFEA81;
        position: absolute;
        width: 210px;
        top: 0;
        right: 0;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #555;
    }
    .score-area p {
        margin-bottom: 18px;
    }
    .score-area ul {
        padding: 0;
        list-style-type: none;
    }
    .score-area li {
        font-size: 18px;
        color: #EFEA81;
        margin-bottom: 3px;
        opacity: 0;
        transition: all .3s;
        position: relative;
        top: 10px;
    }
    .score-area li:before {
        content: "+";
    }
    .score-area li.in-queue {
        opacity: 1;
        top: 0;
    }
    .score-area li.out-of-queue {
        opacity: 0;
        top: -10px;
    }
    .add-word {
        position: absolute;
        bottom: 50px;
        right: 50px;
        outline: 0;
        background-color: #EFEA81;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        line-height: 0;
        cursor: pointer;
    }
    .add-word .plus-icon {
        font-size: 100px;
        display: block;
        font-weight: bold;
        color: #222;
        line-height: 0;
        margin-top: -7px;
    }
    .add-word .check-icon {
        display: none;
        width: 60px;
        position: relative;
        top: 3px;
    }
    .take-word {
        display: none;
        position: absolute;
        right: -30px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: #555;
    }
    .take-word svg path {
        fill: #555;
    }
    .word-input {
        /* will be turned on and off via js*/
        display: none;
        position: relative;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }
    .word-input-form {
        background: transparent;
        line-height: 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #333;
        font: normal normal 70px/1 "Apercu", "Poppins", sans-serif;
        color: #DBD676;
        text-transform: uppercase;
        overflow: visible;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #343434;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }
    .word-input-form.invalid {
        color: #F33E58;
    }
    .word-input-form::first-line {
        vertical-align: middle;
    }
    .word-input-error {
        display: none;
        font-size: 15px;
        color: #F33E58;
        font-style: italic;
        display: block;
        position: absolute;
        bottom: -30px;
        right: 0;
        text-transform: capitalize;
    }

.hand {
    background-color: #EFEA81;
    height: 20vh;
    colro: #222;
    display: flex;
    justify-content: center;
}

    .letter-list {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
    }
        .letter {
            background-color: #DBD676;
            color: black;
            padding: 15px 30px;
            border-radius: 10px;
            margin: 10px;
            cursor: pointer;
            position: relative;
            bottom: 0;
            transition: bottom .2s;
            font-size: 50px;
            min-height: 1em;
            min-width: 20px;
        }
        .letter.empty {
            background-color: transparent;
            border: 1px solid #DBD676;
            cursor: default;
        }
        .letter.empty:hover {
            bottom: 0;
        }
        .letter:hover {
            bottom: 15px;
        }

    .add-letter {
        background: none;
        font-size: 50px;
        border: none;
        margin-left: 20px;
        flex: 0;
        cursor: pointer;
        outline: none;
    }

ul {
    margin: 0;
    list-style-type: none;
}

/*

TUTORIAL

*/

.tutorial-area {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.tutorial-area.up {
    background: rgba(0,0,0,0.7);
    pointer-events: auto;
}

.message {
  padding: 100px;
  background-color: #EFEA81;
  border: 1px solid #EFEA81;
  border-radius: 5px;
  width: 15em;
  transition: height .1s .3s,
    padding-top .1s .3s,
    padding-bottom .1s .3s,
    width .1s 0s,
    background-color .3s .7s,
    color .3s .7s,
    padding-left .1s 0s,
    padding-right .1s 0s;
  position: relative;
  font-family: Input;
  font-size: 1rem;
  text-transform: none;
  color: black;
}

.message button {
  opacity: 1;
  transition: opacity .3s 1s;
  background: none;
  border: 1px solid black;
  color: black;
  position: absolute;
  cursor: pointer;
  padding: 5px 20px;
  bottom: 15px;
  right: 15px;
}

.message button:active,
.message button:focus {
  outline: none;
}

.message button:hover {
  border: 1px solid black;
  color: #EFEA81;
  background-color: black;
}

.message.off {
  background-color: transparent;
  color: transparent;
  height: 0;
  width: 0;
  padding: 0;
  transition: height .1s .3s,
    padding-top .1s .3s,
    padding-bottom .1s .3s,
    width .1s .7s,
    background-color .3s 0s,
    color .3s 0s,
    padding-left .1s .7s,
    padding-right .1s .7s;
}

.message.off button {
  opacity: 0;
  transition: opacity 0s 0s;
}

.message .blink {
    animation: tutorial-message-blink 1s infinite;
}

@keyframes tutorial-message-blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

